.Cart {
  th {
    text-align: left;
  }

  th, td {
    a {text-decoration: none; color: black}
    padding: 1rem;
  }

  th, td {
    border-bottom: 1px solid #29aa4d;
  }

  table {
    border-spacing: 0;
    width: 100%;
    min-width: 600px;
  }

  .twrap {
    width: 100%;
    overflow: auto;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
    max-width: 500px;
  }

  .inputGroup {
    div {
      font-size: 1rem;
      font-weight: 600;
    }
    input {
      width: 100%;
      margin-top: 0.5rem;
      border: none;
      background: #eeeeee;
      font-size: 1rem;
      font-family: inherit;
      padding: 1rem;
    }
  }
  .checkboxGroup {
    gap: 0.5rem;
    align-items: center;
    display: flex;
    .checkbox {
      margin: 0;
    }
  }
  button {
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem 2rem;
    width: fit-content;
  }
}