.Contacts {
  background: #eeeeee;
  position: relative;
  display: grid;
  .yandex-maps {
    top: 0;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  iframe {
    height: 100%;
    width: 100%;
  }
  .bold {
    font-weight: 600;
    color: black;
    font-size: 1.2rem
  }
  .contacts-card {
    & > * {
      padding: 1rem 0;
      & > * {
        padding: 0.25rem 0;
      }
    }
    z-index: 9 !important;
    margin: 5rem 10rem;
    background: white;
    max-width: 400px;
    padding: 3rem;
  }
  .office {
    display: flex;
    align-items: center;
    img {
      margin-left: 0.5rem;
      margin-bottom: -0.2rem;
      height: 1rem;
    }
  }
  .greenBtn {
    padding: 1rem;
    width: fit-content;
  }
  @media (max-width: 1024px) {
    .yandex-maps {
      height: 500px;
      position: relative;
    }
    .contacts-card {
      margin: 0 1rem 3rem 1rem;
    }
    padding-bottom: 0;
  }
  a,.greenBtn {
    text-decoration: none;
  }
}

.gray {
  font-size: 1rem;
  color: #898989;
  font-weight: 600;
}