.Offer {
  background: url("./img/Фон.webp") center;
  background-size: cover;
  height: 88vh;
  .container {display: grid; height: 100%}
  .headline-wrap {
    position: relative;
    max-width: 725px;
    margin: auto 0;
  }

  p {font-size: 1.2rem}
  .gray {
    font-family: 'Graphik LCG', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5rem;
    color: #343433;
    opacity: 0.35;
  }
  @media(max-width: 760px) {
    height: auto;
    padding: 9rem 0;
  }
}
