.TrustedBy {
  background: #eeeeee url("./img/trustedBy.webp") center;
  background-size: cover;
  .brands {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));

    & > * {
      background-color: #f9f9f9;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 160px;
      img {
        max-height: 90px;
      }
    }
  }
}