@import "css/Navbar";
@import "css/Offer";
@import "css/Products";
@import "css/FAQ";
@import "css/CallBack";
@import "css/TrustedBy";
@import "css/Certificates";
@import "css/Contacts";
@import "css/Cart";
@import "css/Product";


@import "fonts/Graph.css";

@font-face {
  font-family: 'Geometria';
  font-style: normal;
  font-weight: normal;
  src: local('Geometria'), url('fonts/Geometria.woff') format('woff');
}
@font-face {
  font-family: 'Geometria-Light';
  font-style: normal;
  font-weight: normal;
  src: local('Geometria-Light'), url('fonts/Geometria-Light.woff') format('woff');
}
@font-face {
  font-family: 'Geometria-Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Geometria-Bold'), url('fonts/Geometria-Bold.woff') format('woff');
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

* {
  max-width: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

:root {
  font-family: "Geometria", sans-serif;
  font-size: 16px;
  @media (max-width: 760px) {
    font-size: 14px;
  }
}

.container,
.container-fluid,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}

.green {
  color: #29aa4d
}
.header {
  font-weight: 400;
  max-width: 600px;
  font-size: 3rem;
}
section {
  padding: 3rem 0;
}
.greenBtn {
  cursor: pointer;
  display: flex;
  font-family: inherit;
  border: none;
  padding: 1rem;
  background:  #29aa4d;
  color: white;
  font-size: 1rem;
  * {margin: 0 0.2rem }
  align-items: center;
}
.transparentBtn {
  cursor: pointer;
  background: none;
  border: 0;
  font-size: 1rem;
  font-family: inherit;
  color: #29aa4d;
  padding: 1rem;
}

footer {
  background: #eeeeee;
  padding: 3rem 0;
  .container {
    display: flex;
    justify-content: space-between;
  }
}
.footer--text-block {
  display: grid;
  gap: 0.5rem;
}
@media (max-width: 1024px) {
  footer .container {
    text-align: center;
    display: grid;
    justify-content: center;
    gap: 1rem;
  }
}

.loader-wrap {
  width: 100%;
  display: flex;
}
.ok {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  text-align: center;
}

.ReactModal__Content {
  margin: auto;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  right: unset !important;
  bottom: unset !important;
  transform: translate(-50%, -50%);
  .certeficateImg {
    margin-top: 1rem;
    width: 450px;
  }
  .closeIcon {
    margin-left: auto;
  }
}
.ReactModal__Overlay {
  z-index: 999;
}

