@charset "UTF-8";
@import "fonts/Graph.css";
nav {
  position: relative;
  background: #e8e8e8;
  padding: 1rem 0;
}
nav .logo img {
  height: 1.8rem;
}
nav .wrap {
  height: 10vh;
  display: flex;
  align-items: center;
}
nav .wrap > * {
  color: black !important;
  padding: 0 1rem;
}
nav .collapse {
  display: contents;
}
nav .collapse > * {
  padding: 0 1rem;
  color: black;
  text-decoration: none;
}
nav .cart {
  position: relative;
}
nav .cart span {
  top: -1.5rem;
  right: -0.5rem;
  height: 0.5rem;
  width: 0.5rem;
  background: white;
  padding: 0.7rem;
  position: absolute;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .cart img {
  height: 2rem;
  width: auto;
}
nav .hamburger {
  display: none;
  margin-left: auto;
  margin-right: 1rem;
}
nav .close {
  display: none;
}
@media (max-width: 992px) {
  nav {
    max-height: unset;
  }
  nav .collapse {
    top: 0;
    left: 0;
    padding: 0;
    position: absolute;
    background: #e8e8e8;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in;
  }
  nav .collapse > * {
    margin: 0.5rem 1rem;
  }
  nav .hamburger {
    display: block;
  }
  nav .close {
    display: block;
    margin-left: auto;
    padding: 0;
    margin-right: 2rem;
    margin-top: 2rem;
  }
}

.Offer {
  background: url("./img/Фон.webp") center;
  background-size: cover;
  height: 88vh;
}
.Offer .container {
  display: grid;
  height: 100%;
}
.Offer .headline-wrap {
  position: relative;
  max-width: 725px;
  margin: auto 0;
}
.Offer p {
  font-size: 1.2rem;
}
.Offer .gray {
  font-family: "Graphik LCG", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2.5rem;
  color: #343433;
  opacity: 0.35;
}
@media (max-width: 760px) {
  .Offer {
    height: auto;
    padding: 9rem 0;
  }
}

.Products {
  padding-bottom: 0;
}
.Products .container {
  display: grid;
}
.Products .prettified-tabs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  list-style: none;
  padding: 0;
}
.Products .prettified-tabs > * {
  height: 130px;
  background-size: cover;
  cursor: pointer;
  display: grid;
  color: black !important;
  text-decoration: none;
}
.Products .prettified-tabs > * div {
  width: 90%;
  background: rgba(255, 255, 255, 0.3);
  margin: auto 0 auto auto;
  padding: 0.7rem;
}
.Products .prettified-tabs > * div h5 {
  font-weight: 500;
  font-size: 1.3rem;
  position: relative;
  margin: 0;
  width: fit-content;
}
.Products .prettified-tabs > * div h5 span {
  opacity: 0.5;
  font-size: 0.7rem;
  top: 0;
  right: -1rem;
  position: absolute;
}
.Products .radio {
  cursor: pointer;
  margin-left: 0.5rem;
  color: #898989;
}
.Products .active {
  color: #29aa4d;
  border-bottom: 1px solid #29aa4d;
}
.Products .navigation {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
@media (max-width: 500px) {
  .Products .navigation {
    display: grid;
    grid-template-columns: auto;
  }
  .Products .navigation .displayAmount {
    margin-top: 1rem;
    justify-self: auto;
  }
}
.Products .tabs-wrapper {
  padding: 1rem 0;
  display: flex;
  align-items: center;
}
.Products .tabs-wrapper ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.Products .tabs-wrapper ul li a {
  text-decoration: none;
  position: relative;
  color: #898989;
  margin-left: 2rem;
}
.Products .tabs-wrapper ul li a span {
  position: absolute;
  top: 0;
  right: -0.7rem;
  font-size: 0.7rem;
}
.Products .tabs-wrapper ul a.active {
  color: #29aa4d;
  border-bottom: 1px solid #29aa4d;
}
.Products .Dropdown-root {
  margin-left: auto;
}
.Products .line {
  margin-top: 1rem;
  background: #EEEEEE;
  height: 1px;
}
.Products .displayMore {
  margin: auto;
  background: none;
  border: none;
  font-size: 1rem;
  font-family: inherit;
  color: #898989;
  cursor: pointer;
}
.Products .displayAmount {
  color: #898989;
  justify-self: end;
}
@media (max-width: 992px) {
  .Products .tabs-wrapper {
    padding: 2rem 0;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
  }
  .Products .tabs-wrapper .Dropdown-root {
    margin-left: 0;
  }
  .Products .tabs {
    display: block !important;
  }
  .Products .tabs li a {
    margin: 1rem 0 !important;
  }
  .Products .tabs li {
    padding: 0.25rem 0;
  }
}
@media (max-width: 500px) {
  .Products .react-tabs__tab-panel {
    display: block;
  }
  .Products .react-tabs__tab-panel > * {
    margin: 1rem 0;
  }
}

.lds-ripple {
  margin: 15rem auto;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #29aa4d;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
.product--card-tab {
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  padding: 1rem 1.3rem;
  display: grid;
  align-content: space-between;
}
.product--card-tab .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product--card-tab .top .available {
  color: #29aa4d;
}
.product--card-tab .image {
  margin: auto;
  width: 100%;
}
.product--card-tab .image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}
.product--card-tab .name {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5rem;
}
.product--card-tab .price-block {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.product--card-tab .buttons {
  display: flex;
}
.product--card-tab > * {
  margin: 1rem 0;
}

.Products .react-tabs__tab-panel, .product .react-tabs__tab-panel {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
}
.Products .react-tabs, .product .react-tabs {
  display: grid;
}
@media (max-width: 760px) {
  .Products .react-tabs__tab-panel, .product .react-tabs__tab-panel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.FAQ .react-tabs__tab {
  color: #343433;
  font-weight: 600;
  padding: 1rem 0;
  border-bottom: 1px solid #EEEEEE;
}
.FAQ .react-tabs__tab img {
  height: 0.5rem;
  margin: auto;
}
.FAQ .react-tabs__tab-list {
  list-style-image: url("./img/arrow.svg");
}
.FAQ .react-tabs__tab-list li {
  cursor: pointer;
}
.FAQ .react-tabs {
  display: flex;
}
.FAQ .react-tabs ul {
  flex: 1;
  padding: 0 1rem;
}
.FAQ .react-tabs .react-tabs__tab-panel--selected {
  flex: 1;
  padding: 0 1rem;
  line-height: 24px;
}
.FAQ .react-tabs .react-tabs__tab--selected {
  color: #29aa4d;
}
@media (max-width: 992px) {
  .FAQ .react-tabs {
    display: block;
  }
}

.CallBack {
  background: url("./img/covid.jpg") center;
  background-size: cover;
}
.CallBack h2 {
  margin-bottom: 0;
}
.CallBack form {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
}
.CallBack input {
  padding: 1rem;
  border: none;
  outline: #898989;
}
.CallBack .form-wrap {
  width: fit-content;
}
.CallBack .form-wrap > p {
  text-align: right;
  font-size: 0.8rem;
  color: #6f6f6f;
}
@media (max-width: 760px) {
  .CallBack form {
    display: block;
  }
  .CallBack form > * {
    margin: 1rem 0;
  }
  .CallBack input {
    display: block;
    width: 100%;
  }
}

.TrustedBy {
  background: #eeeeee url("./img/trustedBy.webp") center;
  background-size: cover;
}
.TrustedBy .brands {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
}
.TrustedBy .brands > * {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
}
.TrustedBy .brands > * img {
  max-height: 90px;
}

.Certificates {
  background-size: contain;
  background: url("./img/Q-PHARM.svg") no-repeat top;
}
.Certificates * {
  max-width: unset;
}
.Certificates .wrap {
  display: flex !important;
  justify-content: center;
  padding: 1rem;
}
.Certificates .slick-dots li button:before {
  height: 18px;
  font-size: 12px;
  padding: 0.2rem;
  color: gray;
  border-radius: 40px;
}
.Certificates .slick-dots li.slick-active button:before {
  color: #29aa4d;
  border: 1px solid #73ea94;
}
.Certificates .slick-next:before, .Certificates .slick-prev:before {
  font-family: inherit;
  font-size: 20px;
  border-radius: 100px;
  border: 1px solid #d5e3e2;
  padding: 1rem 1.2rem 1.2rem 1.2rem;
  opacity: 0.75;
  color: #29aa4d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f0f5f5;
}
.Certificates .slick-next {
  right: -3rem;
}
.Certificates .slick-prev {
  left: -4.5rem;
}
@media (max-width: 1300px) {
  .Certificates .slick-next, .Certificates .slick-prev {
    display: none !important;
  }
}

.Contacts {
  background: #eeeeee;
  position: relative;
  display: grid;
}
.Contacts .yandex-maps {
  top: 0;
  height: 100%;
  position: absolute;
  width: 100%;
}
.Contacts iframe {
  height: 100%;
  width: 100%;
}
.Contacts .bold {
  font-weight: 600;
  color: black;
  font-size: 1.2rem;
}
.Contacts .contacts-card {
  z-index: 9 !important;
  margin: 5rem 10rem;
  background: white;
  max-width: 400px;
  padding: 3rem;
}
.Contacts .contacts-card > * {
  padding: 1rem 0;
}
.Contacts .contacts-card > * > * {
  padding: 0.25rem 0;
}
.Contacts .office {
  display: flex;
  align-items: center;
}
.Contacts .office img {
  margin-left: 0.5rem;
  margin-bottom: -0.2rem;
  height: 1rem;
}
.Contacts .greenBtn {
  padding: 1rem;
  width: fit-content;
}
@media (max-width: 1024px) {
  .Contacts {
    padding-bottom: 0;
  }
  .Contacts .yandex-maps {
    height: 500px;
    position: relative;
  }
  .Contacts .contacts-card {
    margin: 0 1rem 3rem 1rem;
  }
}
.Contacts a, .Contacts .greenBtn {
  text-decoration: none;
}

.gray {
  font-size: 1rem;
  color: #898989;
  font-weight: 600;
}

.Cart th {
  text-align: left;
}
.Cart th, .Cart td {
  padding: 1rem;
}
.Cart th a, .Cart td a {
  text-decoration: none;
  color: black;
}
.Cart th, .Cart td {
  border-bottom: 1px solid #29aa4d;
}
.Cart table {
  border-spacing: 0;
  width: 100%;
  min-width: 600px;
}
.Cart .twrap {
  width: 100%;
  overflow: auto;
}
.Cart form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
  max-width: 500px;
}
.Cart .inputGroup div {
  font-size: 1rem;
  font-weight: 600;
}
.Cart .inputGroup input {
  width: 100%;
  margin-top: 0.5rem;
  border: none;
  background: #eeeeee;
  font-size: 1rem;
  font-family: inherit;
  padding: 1rem;
}
.Cart .checkboxGroup {
  gap: 0.5rem;
  align-items: center;
  display: flex;
}
.Cart .checkboxGroup .checkbox {
  margin: 0;
}
.Cart button {
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem 2rem;
  width: fit-content;
}

.product--price-block {
  display: flex;
  align-items: center;
}

.product--available {
  color: #29aa4d;
}

.product--available, .product--not-available {
  margin-left: auto;
}

.product--logo {
  margin-left: auto;
  max-height: 2rem;
}
.product--logo img {
  height: 100%;
}

.product--amount {
  display: flex;
  align-items: center;
}
.product--amount input {
  font-weight: 600;
  font-family: inherit;
  border: none;
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: #e8e8e8;
}
.product--amount button {
  cursor: pointer;
  outline: none;
  font-size: 1.5rem;
  height: 3rem;
  padding: 0 1rem;
  border: none;
  background: #eeeeee;
  color: #29aa4d;
  font-weight: 600;
}

.product--description > * {
  padding: 1rem 0;
  border-bottom: 1px solid #e8e8e8;
}

.product-size-prot-section {
  display: flex;
  justify-content: space-between;
}

.product--protection {
  display: flex;
  align-items: center;
  color: #753590;
  font-weight: 600;
}
.product--protection > * {
  margin: 0 0.2rem;
}

.product--price {
  max-width: fit-content;
  margin-left: 2rem;
  color: #343433;
  font-size: 2rem;
  font-weight: 600;
  position: relative;
}
.product--price .prevPrice {
  position: absolute;
  text-decoration: line-through;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.3);
  bottom: 0.5rem;
  right: 0;
  transform: translateX(120%);
}

.product--discount {
  max-height: fit-content;
  max-width: fit-content;
  border: 1px solid #f28d4f;
  background-color: #ffeade;
  padding: 0.5rem;
  color: #f28d4f;
}

.product--buy-section {
  display: flex;
  gap: 1rem;
}

.product--size {
  cursor: pointer;
  background: none;
  font-family: inherit;
  height: 3rem;
  width: 3rem;
  font-size: 1rem;
  border: 1px solid #c6c6c6;
  outline: none;
}

.product--size.selected {
  background: #eeeeee;
}

.product--sizes {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.product--img {
  display: grid;
  padding: 2rem;
  border: 1px solid #eeeeee;
}
.product--img img {
  margin: auto;
  width: 100%;
  object-fit: contain;
}

.product .product--price {
  margin-left: 0;
}
.product .greenBtn {
  max-height: 3rem;
}
.product .container > .product--card {
  border: 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1rem;
}
.product h2 {
  font-size: 2rem;
}
@media (max-width: 992px) {
  .product .container > .product--card {
    display: block;
  }
  .product .product--img img {
    width: 400px;
  }
  .product .product--similar {
    border: none;
  }
}
@media (max-width: 1140px) {
  .product .product--logo {
    display: none;
  }
}

.product--logo {
  display: none;
}

.product--similar {
  border-left: 1px solid #e8e8e8;
  padding-left: 1rem;
}

.product--small-cards-tab p {
  font-weight: 600;
}
.product--small-cards-tab .wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.product--small-card {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.5rem;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 1rem;
}
.product--small-card a {
  color: black;
  text-decoration: none;
}
.product--small-card .name {
  font-weight: 600;
}
.product--small-card .image {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.product--small-card .image .product--discount {
  padding: 0.2rem;
  font-size: 0.7rem;
}
.product--small-card .image img {
  margin: auto;
}
.product--small-card .prot-row {
  font-size: 0.8rem !important;
  align-items: center;
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.product--small-card .prot-row .product--available {
  margin: 0;
}
.product--small-card .price-row {
  align-items: center;
  display: flex;
}
.product--small-card .price-row .product--price {
  font-size: 1.2rem;
}
.product--small-card .price-row .product--price .prevPrice {
  transform: translateX(120%) translateY(50%);
  font-size: 0.8rem;
  bottom: 50%;
}
.product--small-card .price-row button {
  border: 0;
  background: none;
  height: 2.5rem;
  width: 2.5rem;
  margin-left: auto;
  margin-right: 1rem;
}
.product--small-card .product--small-card-description {
  display: grid;
  gap: 0.5rem;
}
.product--small-card .ok {
  padding: 0;
  margin-left: auto;
  margin-right: 1rem;
}

@font-face {
  font-family: "Geometria";
  font-style: normal;
  font-weight: normal;
  src: local("Geometria"), url("fonts/Geometria.woff") format("woff");
}
@font-face {
  font-family: "Geometria-Light";
  font-style: normal;
  font-weight: normal;
  src: local("Geometria-Light"), url("fonts/Geometria-Light.woff") format("woff");
}
@font-face {
  font-family: "Geometria-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Geometria-Bold"), url("fonts/Geometria-Bold.woff") format("woff");
}
html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

* {
  max-width: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

:root {
  font-family: "Geometria", sans-serif;
  font-size: 16px;
}
@media (max-width: 760px) {
  :root {
    font-size: 14px;
  }
}

.container,
.container-fluid,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
.green {
  color: #29aa4d;
}

.header {
  font-weight: 400;
  max-width: 600px;
  font-size: 3rem;
}

section {
  padding: 3rem 0;
}

.greenBtn {
  max-width: 100%;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  border: none;
  padding: 1rem;
  background: #29aa4d;
  color: white;
  font-size: 1rem;
  align-items: center;
}
.greenBtn * {
  margin: 0 0.2rem;
}

.transparentBtn {
  cursor: pointer;
  background: none;
  border: 0;
  font-size: 1rem;
  font-family: inherit;
  color: #29aa4d;
  padding: 1rem;
}

footer {
  background: #eeeeee;
  padding: 3rem 0;
}
footer .container {
  display: flex;
  justify-content: space-between;
}

.footer--text-block {
  display: grid;
  gap: 0.5rem;
}

@media (max-width: 1024px) {
  footer .container {
    text-align: center;
    display: grid;
    justify-content: center;
    gap: 1rem;
  }
}
.loader-wrap {
  width: 100%;
  display: flex;
}

.ok {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  text-align: center;
}

.newsletter-popup {
  display: grid;
  gap: 0;
  text-align: center;
}
.newsletter-popup img {
  cursor: pointer;
  justify-self: end;
}
.newsletter-popup h2 {
  margin: 1rem 0;
}
.newsletter-popup p {
  margin-top: 0;
}
.newsletter-popup form {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  gap: 1rem;
}
.newsletter-popup form input {
  border: none;
  background: #f3f3f3;
  padding: 1.2rem;
}
@media (max-width: 760px) {
  .newsletter-popup form {
    grid-template-columns: auto;
  }
}

.ReactModal__Content[aria-label=Рассылка] {
  max-width: 90%;
  width: 700px;
}

.ReactModal__Content {
  max-width: 90%;
  border-radius: 25px;
  border: none !important;
  margin: auto;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  right: unset !important;
  bottom: unset !important;
  transform: translate(-50%, -50%);
}
.ReactModal__Content .certeficateImg {
  margin-top: 1rem;
  width: 450px;
}
.ReactModal__Content .closeIcon {
  margin-left: auto;
}

.ReactModal__Overlay {
  background: rgba(0, 0, 0, 0.25) !important;
  z-index: 999;
}

/*# sourceMappingURL=App.css.map */
